.cart {
    min-height: 70vh;
    background-image: linear-gradient(to left,
            rgba($bg-secondary-color, 0.5),
            rgba($bg-tertiary-color, 0.3)),
        url('https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg');
    padding:2rem 0;
    @include respond(phone){
        padding-top: 7rem;
    }

    display: flex;
    justify-content: center;
    a{
        opacity:1;
        transition:0.3s;
        @include Text(1.2rem,$facebook-color,400); 
    }
}