.gutter{
  @include respond(tablet){
    display: none;
  }
  animation:leftToRight 0.4s ease-in-out;
  &__logo{
    img{
      width:200px;
      image-rendering:crisp-edges;
    }
  } 
  &__block{
    margin-bottom: 1rem;
    &__header{
      @include Text(0.8rem,$text-color,600,$align:left){
        text-transform:uppercase;
      }   
      opacity:0.6;
    }
    &__items{
      .item{
        @include Text(0.9rem,$gutter-text-color);
      
        transition:0.5s;
        &:hover{
          color:$text-color;
        }
      }
    }
  }
}

