.search {
    width: 100%;
    background: $search-bg-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    animation: rightToLeft 0.4s ease-in-out;
    @include ContentCenter($justify:space-between);

    @include respond(phone) {
        flex-direction: column;
    }

    &__category {
        display: flex;

        @include respond(phone) {
            width: 100%;
            flex-direction: column;
        }
    }

    &__title {
        padding: 0.5rem 0.5rem;
        border-right: 1px solid $search-border-color;

        @include ContentCenter();
        @include Text(0.8rem, $text-color, 400);

        opacity: 0.8;
        transition: 0.5s;

        &:hover {
            background: $text-color;
            text-decoration: none;
            color: black;
        }

        @include respond(phone) {
            justify-content: flex-start;
            border: none;
        }
    }

    &__form {
        width: 30%;
        padding: 0.1rem;
        position: relative;
        @include respond(phone) {
            width: 100%;
        }
        
        .input {
            width: 100%;
            height: 100%;
            background: $search-input-color;
            padding: 0.3rem 2rem 0.3rem 1rem;
            border: 1px solid $search-input-border-color;
            
            box-sizing: border-box;
            outline: none;
            transition: 0.5s;
            &:hover {
                border-color: $search-input-border-hover-color;
            }
        }

        .icon {
            height: 70%;
            background: $search-bg-color;
            padding: 0.1rem;
            border-radius: 2px;
            box-shadow: inset 0 0 3px rgb(117, 117, 117);

            position: absolute;
            right: 0.2rem;
            top: 50%;
            transform: translateY(-50%);
              
            cursor: pointer;
            transition:background 0.3s;
            &:hover {
                background:$bg-tertiary-color;
            }

            &:active {
                transform:translateY(-50%) translate(1px, 1px);
            }
        }
    }

}