@mixin ContentCenter($direction:row,$justify:center,$align:center,$display:flex){
    display:$display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    @content;
}

@mixin Text(
    $size:1rem,
    $color:white,
    $weight:400,
    $align:center,
    $decoration:none
){
    font-size: $size;
    color:$color;
    font-weight:$weight;
    font-family: Arial, Helvetica, sans-serif;
    text-align:$align ;
    text-decoration:$decoration;
    @content;
}

@mixin respond ($breakpoint){
    @if ($breakpoint==small){
        @media (max-width:300px) {@content}
    }
    @if ($breakpoint==phone){
        @media (max-width:800px) {@content}
    };
    @if ($breakpoint==tablet){
        @media (max-width:1200px) {@content}
    };
    @if ($breakpoint==desktop){
        @media (max-width:1800px){@content}
    };
}
