$title-color: #063342;
$bg-primary-color: #173d57;
$bg-secondary-color: #1b2838;
$bg-tertiary-color:#95bcd3;

$header-bg-color: #414141;
$toggle-bg-color: rgb(75, 73, 73);

$text-color:#fff;
$gutter-text-color:#000000;
$browser-text-color:#1b2838;

$search-bg-color:#377198;
$search-border-color:#173d57;
$search-input-color:#316282;
$search-input-border-color:#173d57;
$search-input-border-hover-color:#497c9e;

$indicator-color:#fff;

$carousel-control-color-primary:#fff;
$carousel-control-color-secondary:black;

$sale-off-color:#4c6b22;
$sale-off-text-color:#a4bd1c;

$footer-bg-color:rgb(44, 44, 44);
$facebook-color:rgb(30, 81, 221);
$instagram-color:rgb(216, 187, 21);
$youtube-color:rgb(230, 68, 40);
$viber-color:rgb(167, 30, 221);

$input-bg-color:#3b4449;