body{
    padding:0;
    margin: 0;
}
::-webkit-scrollbar{
    width:0.7rem;
    background:rgba(134, 133, 133, 0.835);
}
::-webkit-scrollbar-thumb{
    background:rgba($bg-primary-color,0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

p{
    margin:0 !important;
}

a,a:active,a:hover{
    text-decoration: none !important;
}

table{
    background: rgba($bg-tertiary-color,0.5);
    border-collapse: collapse;
    thead{
        td{
            background: rgba($bg-primary-color,0.5);
            padding:1rem;
            @include Text(1.3rem,$text-color,500);
        }
    }
    tr{
        padding:0.5rem;
        @include Text(1rem,$header-bg-color,$align:start);
    }
    td{
        padding:0.5rem;
        @include Text(1rem,$header-bg-color);
    }
}