.info{
    width:30%; 
    overflow: hidden;
    &__name{
        color:$text-color;
        white-space: nowrap; 
        transition:0.3s;
    }
    &__category{
        @include Text(0.8rem);
        white-space: nowrap; 
        opacity:0.4;
    }
}
.sale-off{                     
    background:$sale-off-color;
    padding:0 0.1rem;
    border-radius:2px;

    @include Text(0.9rem,$sale-off-text-color);
    white-space: nowrap;
    cursor: pointer;
}
.price{
    width:20%;
    overflow: hidden;
    &--before{
        @include Text(0.7rem,$bg-tertiary-color,$decoration: line-through);  
        opacity:0.9;       
    }
    &--after{
        @include Text(0.9rem,$bg-tertiary-color,$weight:600);
    }
}